
{% extends 'app_coder/base.html' %}

{% load static %}

{% block conteni_que_cambia %}
        
<h1>Introduce los datos del profesor que deseas buscar:</h1>

<form action=""    method="POST"> {% csrf_token %}

  <p> Nombre: <input type = "text" name="nombre"> <br>
  <p> Apellido: <input type = "text" name="apellido">

  <input type = "submit" value="Buscar"> <input type="button" value="Atrás" onclick="history.back()">


  
</form> 


<H1>Resultados de la búsqueda:</H1>

{% if data %}
  <ul>
    {% for profe in data %}
      <li>nombre = {{ profe.nombre }} <br> 
          apellido = {{ profe.apellido }} <br> 
          correo = {{ profe.correo }} <br> 
          profesion = {{ profe.profesion}} </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No se encontraron profesores que coincidan con los criterios de búsqueda.</p>
{% endif %}




{% endblock %}
